:root {
    --main--font : font-family: 'Roboto', sans-serif;
    --main--color : #2196F3;
}

body {
font-family: var(--main--font);
}

/* COMPONENTS */

.modal-btn {
  
position: absolute;
width: 200px;
height: 50px;
left: 700px;
top: 430px;
}

/* END COMPONENTS */

/* Sekcja HEADER */
.navigation-list-link {


font-weight: 500;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.02em;

/* color: #212121; */
}


.modal-btn:hover,
.modal-btn:focus,
.navigation-list-link:hover,
.navigation-list-link:focus{
    color: var(--main--color);
}

.adress{
    font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 24px;
/* or 171% */
letter-spacing: 0.03em;
}

/* END Sekcja HEADER */


/* HERO */

.hero{
position: absolute;
width: 1600px;
height: 600px;
left: 0px;
top: 80px;

background: #2F303A;
}
.h1_class{
    position: absolute;
width: 696px;
height: 120px;
left: 452px;
top: 280px;
font-weight: 900;
font-size: 44px;
line-height: 60px;
/* or 136% */

text-align: center;
letter-spacing: 0.06em;
text-transform: uppercase;

color: #FFFFFF;
}

.naglowek_drugiego_stopnia{
    font-weight: bold;
font-size: 36px;
line-height: 42px;
text-align: center;
letter-spacing: 0.03em;

color: #212121;
}

.naglowki_niższego_stopnia{
    font-weight: bold;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.03em;
text-transform: uppercase;

color: #212121;
}
.akapit_p_class{
    font-weight: normal;
font-size: 14px;
line-height: 24px;
/* or 171% */

letter-spacing: 0.03em;

color: #757575;
}



/* END HERO */