:root {
    --main--font : font-family: 'Roboto', sans-serif;
    --main--color : #2196F3;
    --secondary-font: black;
}

body {
font-family: var(--main--font);
}

/* COMPONENTS */

.modal-btn {
  
position: relative;
width: 200px;
height: 50px;
left: 700px;
top: 430px;
}

/* END COMPONENTS */

/* Sekcja HEADER */
.navigation-list-link {


font-weight: 500;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.02em;

/* color: #212121; */
}

.pierwsza_czesc_logo{
     font-family: var(--secondary-font); 
      font-weight: 700;  
      font-size: 26px;  
      text-decoration: none;  
      line-height: 1.192;  
      letter-spacing: 0.03em; 
      color: #2196F3
}
.druga_czesc_logo{
    color: var(--main-color);
}


.modal-btn:hover,
.modal-btn:focus,
.navigation-list-link:hover,
.navigation-list-link:focus{
    color: var(--main--color);
}

.adress{

font-size: 14px;
line-height: 24px;
/* or 171% */
letter-spacing: 0.03em;
}
.najwiekszy_element_na_stronie{
width: 1600px;
height: 600px;
left: 0px;
top: 80px;

background: #2F303A;
}

/* END Sekcja HEADER */


/* HERO */


.h1_class{
   position: absolute; 
width: 696px;
height: 120px;
left: 452px;
top: 280px;
font-weight: 900;
font-size: 44px;
line-height: 60px;
/* or 136% */

text-align: center;
letter-spacing: 0.06em;
text-transform: uppercase;

color: #FFFFFF;
}

.naglowek_drugiego_stopnia{
    font-weight: bold;
font-size: 36px;
line-height: 42px;
/* text-align: center; */
letter-spacing: 0.03em;

color: #212121;
}

.lorem_list_bg {
    /* position: relative; */
    width: 1393px;
height: 101px;
left: 215px;
top: 774px;
}

.naglowki_niższego_stopnia{
    /* position: relative; */
    font-weight: bold;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.03em;
text-transform: uppercase;

color: #212121;
}
.akapit_p_class{
    /* position: relative; */
    font-weight: normal;
font-size: 14px;
line-height: 24px;
/* or 171% */

letter-spacing: 0.03em;

color: #757575;
}
.what_we_do{
    /* position: relative; */
    width: 1170px;
height: 386px;
left: 215px;
top: 969px;
}

.our_team_bg{
    position: relative;
    width: 1600px;
height: 648px;
left: 0px;
top: 1449px;

background: #F5F4FA;
}

/* END HERO */

/* footer */
.footer{
    position: relative;
    width: 1600px;
height: 252px;
left: 0px;
top: 2097px;

background: #2F303A;
}
.potrzeba_białego_tekstu{
    color: #FFFFFF;
}

/* end of footer */



/* main filters portfolio */

.portfolio_btn {
    
    width: 653px;
height: 54px;
left: 453px;
top: 174px;
}

/* END main filters portfolio */